@model IEnumerable<assignment_proj.Models.Category>

@{
    ViewBag.Title = "Index";

    var categories = ViewBag.categories as SelectList;
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Father.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Father.Name)
            </td>
        </tr>
    }

</table>
<br />
<div id="slcts">
</div>
@section Scripts{

    <script type="text/javascript">
        $(function () {
            change();
        });
        $('select.slct').change(function () {
            change();
        });
        function change() {
            $.ajax({
                url: '@Url.Action("GetChildItems")',
                type: 'POST',
                data: { Id: $('#slcts select.slct:last').val()}
            }).done(function (response) {
                $(".slct").attr("disabled", true);
                $("#slcts").append(response);
            });
        };
    </script>
}